name: AVX2 Compiler Matrix

on:
  push:
  pull_request:

jobs:
  avx2-compiler-matrix:
    name: avx2 (${{ matrix.name }})
    runs-on: ubuntu-24.04
    # Simple reference to the image defined in the matrix below
    container:
      image: ${{ matrix.image }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: gcc-10
            comp: gcc
            cxx: g++
            image: gcc:10
          - name: gcc-11
            comp: gcc
            cxx: g++
            image: gcc:11
          - name: gcc-13
            comp: gcc
            cxx: g++
            image: gcc:13
          - name: gcc-14
            comp: gcc
            cxx: g++
            image: gcc:14
          - name: gcc-15
            comp: gcc
            cxx: g++
            image: gcc:15
          - name: clang-10
            comp: clang
            cxx: clang++
            image: silkeh/clang:10
          - name: clang-11
            comp: clang
            cxx: clang++
            image: silkeh/clang:11
          - name: clang-12
            comp: clang
            cxx: clang++
            image: silkeh/clang:12
          - name: clang-13
            comp: clang
            cxx: clang++
            image: silkeh/clang:13
          - name: clang-14
            comp: clang
            cxx: clang++
            image: silkeh/clang:14
          - name: clang-15
            comp: clang
            cxx: clang++
            image: silkeh/clang:15
          - name: clang-16
            comp: clang
            cxx: clang++
            image: silkeh/clang:16
          - name: clang-17
            comp: clang
            cxx: clang++
            image: silkeh/clang:17
          - name: clang-18
            comp: clang
            cxx: clang++
            image: silkeh/clang:18
          - name: clang-19
            comp: clang
            cxx: clang++
            image: silkeh/clang:19
          - name: clang-20
            comp: clang
            cxx: clang++
            image: silkeh/clang:20
          - name: clang-21
            comp: clang
            cxx: clang++
            image: silkeh/clang:21
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build tools
        run: |
          # Only run the fix if we are on a buster-based image
          if grep -q "buster" /etc/os-release; then
            echo "Debian Buster detected. Switching to archive repositories..."
            echo "deb http://archive.debian.org/debian buster main contrib non-free" > /etc/apt/sources.list
            echo "deb http://archive.debian.org/debian-security buster/updates main contrib non-free" >> /etc/apt/sources.list
            # Disable the "check-valid-until" safety check as archive repos are static
            echo 'Acquire::Check-Valid-Until "false";' > /etc/apt/apt.conf.d/99-ignore-valid-until
          fi

          apt-get update
          apt-get install -y curl git make

      - name: Download network
        working-directory: src
        run: make net

      - name: Build avx2 binary
        working-directory: src
        run: |
          export CXXFLAGS="-Werror"
          make clean
          make -j build ARCH=x86-64-avx2 COMP=${{ matrix.comp }} COMPCXX=${{ matrix.cxx }}

      - name: Smoke test
        working-directory: src
        run: ./stockfish bench 16 1 6
